@use "./components/global.scss" as *;
@use "./components/buttons.scss" as *;

@use "./pages/landing" as *;
@use "./pages/game" as *;

button {
    font-size: 0.75rem !important;
}

i {
    margin-right: 0.2rem;
}

.badge-hover {
    transition-duration: 200ms;
    opacity: 0.7;
    cursor: pointer;

    &:hover {
        opacity: 1;
    }
}

input[type="range"]::-webkit-slider-runnable-track {
    // background-color: #000;
}

input[type="range"]::-webkit-slider-thumb {
    background-color: var(--articles-color);
    border: 1px solid #000;
}